*{
  margin: 0;
  padding: 0;
}
body{
    min-height:100vh;
    background-image:url(laptop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: sans-serif;
    font-style: italic;



}
nav{
  background-color: white;
  box-shadow:3px 3px 5px rgba(0,0,0,0.5);
}
nav ul{
  width:100%;
  list-style:none;
  display:flex;
  justify-content:center;
  align-items:center;
}
nav li{
  height:50px;

}
nav a{
  height:100%;
  padding:0 30px;
  text-decoration: none;
  display:flex;
  align-items:center;
  color:black;

}
nav a:hover{
  background-color: gainsboro;
}
nav li:first-child{
  margin-right: auto;
}
.sidebar{
  position: fixed;
  top:0;
  right:0;
  height:100vh;
  width:250px;
  z-index: 999;
  background-color: white;
  backdrop-filter:blur(10px);
  box-shadow: -10 0 10 rgba(0,0,0,0.5);
  display:none;
  flex-direction: column;
  align-items:flex-start;
  justify-items: flex-start;

}
.sidebar li{
  width:100%;
}
.sidebar a{
  width:100%;
}